{% extends 'layouts/page.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukRadios({
          name: "draftAction",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-l">' ~ caption ~ '</span>' ~ heading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            { value: "complete", text: "Complete catch record" },
            { value: "delete", text: "Delete catch record" }
          ]
        }) }}

        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
