{% extends 'layouts/page.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
  {% set radioErrorMessage = { text: fieldErrors.statisticalArea } if fieldErrors.statisticalArea else false %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukRadios({
          name: "statisticalArea",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-l">' ~ caption ~ '</span>' ~ heading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: '<p class="govuk-body">' ~ bodyText[0] ~ '</p><p class="govuk-body">' ~ bodyText[1] ~ '</p>'
          },
          errorMessage: radioErrorMessage,
          items: areaOptions
        }) }}

        {% if showAlternativeInput %}
          {{ govukInput({
            id: "alternativeStatisticalArea",
            name: "alternativeStatisticalArea",
            label: { text: "Statistical sub area" },
            hint: { text: "For example, 46E45" },
            classes: "govuk-input--width-10",
            value: alternativeStatisticalArea,
            errorMessage: { text: fieldErrors.alternativeStatisticalArea } if fieldErrors.alternativeStatisticalArea else false
          }) }}
        {% endif %}

        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
