{% extends 'layouts/page.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
  {% set radioErrorMessage = { text: fieldErrors.departurePort } if fieldErrors.departurePort else false %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukRadios({
          name: "departurePort",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-l">' ~ caption ~ '</span>' ~ heading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: { text: hintText },
          errorMessage: radioErrorMessage,
          items: portOptions
        }) }}

        {{ govukButton({ text: "Save and continue" }) }}
        {{ govukButton({ text: "Add port", href: addPortHref, classes: "govuk-button--secondary" }) }}
      </form>
    </div>
  </div>
{% endblock %}
