{% extends 'layouts/page.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
  <div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
    <form method="post" novalidate>
      {{ govukRadios({
        name: "wantsToAddSkipper",
        fieldset: { legend: { text: heading, isPageHeading: true, classes: "govuk-fieldset__legend--xl" } },
        errorMessage: { text: fieldErrors.wantsToAddSkipper } if fieldErrors.wantsToAddSkipper,
        items: [
          { value: "yes", text: "Yes", checked: checked == "yes" },
          { value: "no", text: "No", checked: checked == "no" }
        ]
      }) }}
      {{ govukButton({ text: "Save and continue" }) }}
    </form>
  </div></div>
{% endblock %}