{% extends 'layouts/page.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
  {% set potsFieldsHtml %}
    {{ govukInput({
      id: "potsHauled",
      name: "potsHauled",
      label: { text: "Total pots or traps hauled" },
      classes: "govuk-input--width-5",
      inputmode: "numeric",
      value: potsDetails.potsHauled,
      errorMessage: { text: fieldErrors.potsHauled } if fieldErrors.potsHauled else false
    }) }}
    {{ govukInput({
      id: "potsInWater",
      name: "potsInWater",
      label: { text: "Total pots or traps left in the water" },
      classes: "govuk-input--width-5",
      inputmode: "numeric",
      value: potsDetails.potsInWater,
      errorMessage: { text: fieldErrors.potsInWater } if fieldErrors.potsInWater else false
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        <div class="govuk-form-group{{ ' govuk-form-group--error' if fieldErrors.gearIds }}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">{{ heading }}</h1>
            </legend>
            {% if fieldErrors.gearIds %}
              <p id="gearIds-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ fieldErrors.gearIds }}
              </p>
            {% endif %}
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              {% for item in gearCheckboxItems %}
                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="gearIds-{{ loop.index }}"
                    name="gearIds"
                    type="checkbox"
                    value="{{ item.value }}"
                    {{ 'checked' if item.checked }}
                    {% if item.value == 'pots' %}data-aria-controls="gearIds-conditional-{{ loop.index }}"{% endif %}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="gearIds-{{ loop.index }}">{{ item.text }}</label>
                  {% if item.hint %}
                    <div id="gearIds-{{ loop.index }}-item-hint" class="govuk-hint govuk-checkboxes__hint">{{ item.hint }}</div>
                  {% endif %}
                </div>
                {% if item.value == 'pots' %}
                  <div class="govuk-checkboxes__conditional{{ '' if item.checked else ' govuk-checkboxes__conditional--hidden' }}" id="gearIds-conditional-{{ loop.index }}">
                    {{ potsFieldsHtml | safe }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <p><a class="govuk-link" href="/not-implemented?return=/gear-selection">Add gear</a></p>

        {{ govukButton({ text: "Continue", classes: "govuk-!-margin-top-6" }) }}
      </form>
    </div>
  </div>
{% endblock %}


