{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "page-navigation/macro.njk" import appPageNavigation %}

{% set mainClasses = "app-main-wrapper" %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/favicon.ico") }}">
  <link rel="icon" sizes="any" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/favicon.svg") }}" type="image/svg+xml" >
  <link rel="mask-icon" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/govuk-icon-mask.svg") }}" color="{{ themeColor }}">
  <link rel="apple-touch-icon" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/govuk-icon-180.png") }}">
  <link rel="manifest" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/manifest.json") }}">
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('src/client/stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {# serviceName/serviceUrl live on govukServiceNavigation, not govukHeader, in GOV.UK Frontend v6 #}
  {# Outer band is full-width blue; the inner width-container aligns content with the page #}
  <div class="app-header-row">
    <div class="app-header-row__inner govuk-width-container">
      {{ govukHeader({
        homepageUrl: "https://www.gov.uk/",
        classes: "app-header",
        containerClasses: "",
        useTudorCrown: true
      }) }}

      {{ govukServiceNavigation({
        classes: "govuk-service-navigation--inverse app-service-navigation",
        serviceName: serviceName,
        serviceUrl: serviceUrl,
        navigation: navigation
      }) }}
    </div>
  </div>
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% set feedbackHtml %}This is a new service – your <a class="govuk-link" href="{{ feedbackUrl }}">feedback</a> will help us to improve it.{% endset %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: feedbackHtml
  }) }}

  {{ appPageNavigation({
    backLink: backLink,
    language: languageToggle
  }) }}
{% endblock %}

{% block content %}
  {% block notification %}
    {% if notification %}
      {{ govukNotificationBanner(notification) }}
    {% endif %}
  {% endblock %}

  {% block errorSummary %}
    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}
  {% endblock %}

  {% block pageContent %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    classes: "app-footer",
    meta: {
      items: [
        {
          href: feedbackUrl,
          text: "Feedback"
        },
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy policy"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility Statement"
        }
      ]
    }
  }) }}
{% endblock %}


{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('src/client/javascripts/application.js') }}"></script>
{% endblock %}
