{% extends 'layouts/page.njk' %}
{% from "placeholder-page/macro.njk" import appPlaceholderPage %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageContent %}
  {{ appPlaceholderPage({
    heading: heading,
    description: "OLGA is the only vessel available in this walkthrough."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
